
<app-search></app-search>
<!-- <input (input)="onNameChange($event)"><br>
<p>name={{name}}</p>

    <div *ngFor="let product of products; index as i" class="product-container">
        <img [src]="product.img" alt="placeholder" style="width: 160px; height: auto;">
        <p>Name: {{product.name}}</p>
        <p>Price: <span style="text-decoration: line-through;">{{product.price}}</span></p>
        <p>Color: {{product.color}}</p>
        <p>Discounted price: {{getdiscountedprice(product.discounted_price, product.price)}}</p>
        <p>{{product.inStock > 0? 'only ' + product.inStock + ' items left' : 'no mo homo'}}</p>
        <button (click)="substract(product)">-</button>
        <span>{{product.addToCart}}</span>
        <button (click)="add(product)">+</button>
    </div>
    

 -->
 <product-list></product-list>
